:root {
  --sun-diameter: 4rem;
  --mercury-diameter: 0.7rem;
  --mercury-orbit: 8rem;
  --venus-diameter: 0.75rem;
  --venus-orbit: 10rem;
  --earth-diameter: 1rem;
  --earth-orbit: 14rem;
  --moon-diameter: 0.5rem;
  --moon-orbit: 2rem;
  --mars-diameter: 1rem;
  --mars-orbit: 18rem;
  --asteroid-belt-orbit: 24rem;
  --deimos-diameter: 0.3rem;
  --deimos-orbit: 2em;
  --phobos-diameter: 0.25rem;
  --phobos-orbit: 1.5rem;
  --jupiter-diameter: 2rem;
  --jupiter-orbit: 30rem;
  --saturn-diameter: 2rem;
  --saturn-orbit: 38rem;
  --disc-height: 0.75rem;
  --uranus-diameter: 1rem;
  --uranus-orbit: 45rem;
  --neptune-diameter: 1rem;
  --neptune-orbit: 50rem;
  --pluto-diameter: 0.5rem;
  --pluto-orbit: 55rem;
  --haumea-diameter: 0.5rem;
  --haumea-orbit: 56rem;
  --makemake-diameter: 0.5rem;
  --makemake-orbit: 57rem;
  --eris-diameter: 0.5rem;
  --eris-orbit: 58rem;
  --kuiper-belt-orbit: 55rem;
}

html * {
  font-family: Arial !important;
}

.space {
  position: fixed;
  background: black;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.solar-system {
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sun {
  position: relative;
  background: yellow;
  width: var(--sun-diameter);
  height: var(--sun-diameter);
  margin: auto;
  top: 50%;
  border-radius: 2rem;
  animation: pulse 15s linear infinite;
  z-index: 12;
}

.planet, .satelite {
  position: absolute;
  border-style: solid;
  border-color: white transparent transparent transparent;
  border-width: 1px 1px 0 0;
  border-radius: 50%;
}

.planet:hover, .satelite:hover {
  border-color: white;
  border-width: 2px;
}

.planet::before, .satelite::before{
  content: "";
  position: absolute;
  border-radius: 50%;
}

.planet::after {
  display: block;
  position: relative;
  margin-top: -0.25rem;
  margin-right: -0.25rem;
  rotate: 5deg;
}

.mercury {
  top: calc(var(--mercury-orbit) / -2 - var(--sun-diameter) / -2);
  left: calc(var(--mercury-orbit) / -2 - var(--sun-diameter) / -2);
  width: var(--mercury-orbit);
  height: var(--mercury-orbit);
  border-color: #88807b transparent transparent transparent;
  animation: orbit 5s linear infinite;
  text-align: right;
  z-index: 10;
}

.mercury::before {
  background-color: #787276;
  width: var(--mercury-diameter);
  height: var(--mercury-diameter);
  top: calc(var(--mercury-orbit) * 0.108);
  left: calc(var(--mercury-orbit) * 0.8538 - var(--mercury-diameter) / 2);
}

.mercury:hover::after {
  content: "mercury";
  color: gray;
}

.venus {
  transform: rotate(145deg);
  top: calc(var(--venus-orbit) / -2 - var(--sun-diameter) / -2);
  left: calc(var(--venus-orbit) / -2 - var(--sun-diameter) / -2);
  width: var(--venus-orbit);
  height: var(--venus-orbit);
  border-color: #eecb8b transparent transparent transparent;
  animation: orbit 7s linear infinite;
  text-align: right;
  z-index: 9;
}

.venus::before {
  background-color: #d3a567;
  width: var(--venus-diameter);
  height: var(--venus-diameter);
  top: calc(var(--venus-orbit) * 0.108);
  left: calc(var(--venus-orbit) * 0.8538 - var(--venus-diameter) / 2);
}

.venus:hover::after {
  content: "venus";
  color: #eecb8b;
}

.earth {
  transform: rotate(225deg);
  top: calc(var(--earth-orbit) / -2 - var(--sun-diameter) / -2);
  left: calc(var(--earth-orbit) / -2 - var(--sun-diameter) / -2);
  width: var(--earth-orbit);
  height: var(--earth-orbit);
  border-color: #87ceeb transparent white white;
  animation: orbit 10s linear infinite;
  text-align: right;
  z-index: 8;
}

.earth::before {
  background: linear-gradient(to right, #82f241, #33bb93);
  width: var(--earth-diameter);
  height: var(--earth-diameter);
  top: calc(var(--earth-orbit) * 0.108);
  left: calc(var(--earth-orbit) * 0.8538 - var(--earth-diameter) / 2);
  box-shadow: 0 0 1rem #87ceeb;
}

.earth:hover::after {
  content: "earth";
  color: #87ceeb;
  margin-top: 0;
  margin-right: 0.35rem;
}

.moon{
  top: calc(var(--earth-orbit) * 0.108 - var(--moon-orbit)/2 + var(--moon-diameter)/2 + var(--earth-diameter)/8);
  left: calc(var(--earth-orbit) * 0.8538 - var(--moon-orbit)/2 - var(--earth-diameter)/8);
  width: var(--moon-orbit);
  height: var(--moon-orbit);
  border-color: #87ceeb transparent transparent transparent;
  animation: orbit 10s linear infinite;
  text-align: right;
  z-index: 8;
  position: relative;
}

.moon::before {
  background: gray;
  width: var(--moon-diameter);
  height: var(--moon-diameter);
  top: calc(var(--moon-orbit) * 0.108 - var(--moon-diameter) / 2);
  left: calc(var(--moon-orbit) * 0.8538 - var(--moon-diameter) / 2);
  box-shadow: 0 0 1rem gainsboro;
}

.moon:hover::after {
  content: "moon";
  color: gainsboro;
  margin-top: -1.5rem;
  margin-right: 0.35rem;
}

.mars {
  transform: rotate(115deg);
  top: calc(var(--mars-orbit) / -2 - var(--sun-diameter) / -2);
  left: calc(var(--mars-orbit) / -2 - var(--sun-diameter) / -2);
  width: var(--mars-orbit);
  height: var(--mars-orbit);
  border-color: #451804 transparent white white;
  animation: orbit 12s linear infinite;
  text-align: right;
  z-index: 7;
}

.mars::before {
  background: #c1440e;
  width: var(--mars-diameter);
  height: var(--mars-diameter);
  top: calc(var(--mars-orbit) * 0.108);
  left: calc(var(--mars-orbit) * 0.8538 - var(--mars-diameter) / 2);
  box-shadow: 0 0 1rem #e77d11;
}

.mars:hover::after {
  content: "mars";
  color: #c2b5a8;
  margin-top: 0;
  margin-right: 0.35rem;
}

.phobos{
  transform: rotate(15deg);
  top: calc(var(--mars-orbit) * 0.108 - var(--phobos-orbit) / 2 + var(--mars-diameter) /2.5);
  left: calc(var(--mars-orbit) * 0.8538 - var(--phobos-orbit) /2 - var(--mars-diameter)/8);
  width: var(--phobos-orbit);
  height: var(--phobos-orbit);
  border-color: #c2b5a8 transparent transparent transparent;
  animation: orbit 6s linear infinite;
  text-align: right;
  z-index: 10;
  position: relative;
}

.phobos::before {
  background: #c2b5a8;
  width: var(--phobos-diameter);
  height: var(--phobos-diameter);
  top: calc(var(--phobos-orbit) * 0.108 - var(--phobos-diameter) / 2);
  left: calc(var(--phobos-orbit) * 0.8538 - var(--phobos-diameter) / 2);
  box-shadow: 0 0 1rem gainsboro;
}

.phobos:hover::after {
  content: "phobos";
  color: #c2b5a8;
  margin-top: -2rem;
  margin-right: -3.5rem;
}

.deimos{
  transform: rotate(75deg);
  top: calc(var(--mars-orbit) * -0.105 + var(--deimos-orbit)/2 + var(--phobos-orbit)/2);
  left: calc(var(--mars-orbit) * 0.8538 - var(--deimos-orbit) /2);
  width: var(--deimos-orbit);
  height: var(--deimos-orbit);
  border-color: #8c7d70 transparent transparent transparent;
  animation: orbit 7s linear infinite;
  text-align: right;
  z-index: 9;
  position: relative;
}

.deimos::before {
  background: #8c7d70;
  width: var(--deimos-diameter);
  height: var(--deimos-diameter);
  top: calc(var(--deimos-orbit) * 0.108 - var(--deimos-diameter) / 2);
  left: calc(var(--deimos-orbit) * 0.8538 - var(--deimos-diameter) / 2);
  box-shadow: 0 0 1rem gainsboro;
}

.deimos:hover::after {
  content: "deimos";
  color: #8c7d70;
  margin-top: -1.5rem;
  margin-right: -3.5rem;
}


.asteroid-belt {
  position: relative;
  top: calc(var(--asteroid-belt-orbit) / -2 - var(--sun-diameter) / -2);
  left: calc(var(--asteroid-belt-orbit) / -2 - var(--sun-diameter) / -2);
  width: var(--asteroid-belt-orbit);
  height: var(--asteroid-belt-orbit);
  box-shadow: 0 0 3rem rgb(118 40 40 / 0.2) inset, 0 0 3rem rgb(118 40 40 / 0.2);
  border-radius: 50%;
  z-index: 6;
  display: block;
  position: absolute;
}

.rock {
  position: absolute;
  background: #040301;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgb(118 40 40 / 0.5);
}

.tiny-rock {
  width: 1px;
  height: 1px;
  background: #b1dae7;
  z-index: -10;
  box-shadow: 0 0 1px white;
  animation: pulse-distant 1s linear infinite;
}

.small-rock {
  width: 0.2rem;
  height: 0.2rem;
}

.medium-rock {
  width: 0.27rem;
  height: 0.28rem;
}

.big-rock {
  width: 0.35rem;
  height: 0.35rem;
}

.tiny-rocks {
  width: 100%;
  height: 100%;
  animation: orbit 150s linear infinite;
  position: absolute;
}

.small-rocks {
  width: 100%;
  height: 100%;
  animation: orbit 12s linear infinite;
  position: absolute;
}

.medium-rocks {
  width: 100%;
  height: 100%;
  animation: orbit 24s linear infinite;
  position: absolute;
}

.big-rocks {
  width: 100%;
  height: 100%;
  animation: orbit 60s linear infinite;
  position: absolute;
}

.jupiter {
  transform: rotate(75deg);
  top: calc(var(--jupiter-orbit) / -2 - var(--sun-diameter) / -2);
  left: calc(var(--jupiter-orbit) / -2 - var(--sun-diameter) / -2);
  width: var(--jupiter-orbit);
  height: var(--jupiter-orbit);
  border-color: rgb(165,145,134) transparent white white;
  animation: orbit 25s linear infinite;
  text-align: right;
  filter: blur(1px);
  z-index: 6;
}

.jupiter::before {
  background: rgb(165,145,134);
  background: linear-gradient(90deg, rgba(165,145,134,1) 0%, rgba(216,202,157,1) 18%, rgba(235,243,246,1) 29%, rgba(216,202,157,1) 41%, rgba(201,144,57,1) 54%, rgba(227,220,203,1) 72%, rgba(165,145,134,1) 97%);
  width: var(--jupiter-diameter);
  height: var(--jupiter-diameter);
  top: calc(var(--jupiter-orbit) * 0.108);
  left: calc(var(--jupiter-orbit) * 0.8538 - var(--jupiter-diameter) / 2);
  box-shadow: 0 0 0.5rem #e77d11;
}

.jupiter:hover::after {
  content: "jupiter";
  color: rgb(165,145,134);
  margin-top: 0;
  margin-right: 0.35rem;
}

.saturn {
  transform: rotate(35deg);
  top: calc(var(--saturn-orbit) / -2 - var(--sun-diameter) / -2);
  left: calc(var(--saturn-orbit) / -2 - var(--sun-diameter) / -2);
  width: var(--saturn-orbit);
  height: var(--saturn-orbit);
  border-color: rgb(165,145,134) transparent white white;
  animation: orbit 30s linear infinite;
  text-align: right;
  filter: blur(1px);
  z-index: 5;
}

.saturn-planet {
  border-radius: 50%;
  background: linear-gradient(0deg,  rgba(216,190,167,1) 0%, rgba(216,202,157,1) 25%, rgba(235,243,246,1) 29%, rgba(216,202,157,1) 66%,  rgba(216,202,157,1) 54%, rgba(227,220,203,1) 72%, rgba(165,145,134,1) 97%);
  width: var(--saturn-diameter);
  height: var(--saturn-diameter);
  top: calc(var(--saturn-orbit) * 0.108);
  left: calc(var(--saturn-orbit) * 0.8538 - var(--saturn-diameter) / 2);
  box-shadow: 0 0 0.25rem #b48b61;
  position: relative;
  display: block;
}

.saturn:hover::after {
  content: "saturn";
  color: rgb(165,145,134);
  margin-top: 0;
  margin-right: 0.35rem;
}

.disc {
  position: relative;
  top: calc(var(--saturn-diameter)/2 - var(--disc-height)/2);
  left: calc(var(--saturn-diameter)/-1.5 );
  width: 4rem;
  height: var(--disc-height);
  border-radius: 50%;
  border-width: 0.25rem;
  border-color: rgb(165,145,134) transparent transparent transparent;
  border-style: solid;
  z-index: 5;
}

.disc-bottom {
  top: calc(var(--saturn-diameter)/-1 + var(--disc-height));
  transform: rotate(180deg);
  z-index: -1 !important;
}

.uranus {
  top: calc(var(--uranus-orbit) / -2 - var(--sun-diameter) / -2);
  left: calc(var(--uranus-orbit) / -2 - var(--sun-diameter) / -2);
  width: var(--uranus-orbit);
  height: var(--uranus-orbit);
  border-color: rgb(138, 184, 206) transparent transparent transparent;
  animation: orbit 67s linear infinite;
  text-align: right;
  filter: blur(1px);
  z-index: 4;
}

.uranus::before {
  background: rgb(138, 184, 206);
  width: var(--uranus-diameter);
  height: var(--uranus-diameter);
  top: calc(var(--uranus-orbit) * 0.132);
  left: calc(var(--uranus-orbit) * 0.8538 - var(--uranus-diameter) / 2);
  box-shadow: 0 0 0.25rem #529bfa;
}

.uranus:hover::after {
  filter: none;
  content: "uranus";
  color: rgb(138, 184, 206);
  margin-top: calc(var(--uranus-orbit)*0.05);
  margin-right: calc(var(--uranus-orbit)*0.05);
}

.neptune {
  transform: rotate(250deg);
  top: calc(var(--neptune-orbit) / -2 - var(--sun-diameter) / -2);
  left: calc(var(--neptune-orbit) / -2 - var(--sun-diameter) / -2);
  width: var(--neptune-orbit);
  height: var(--neptune-orbit);
  border-color: #212354 transparent white white;
  animation: orbit 77s linear infinite;
  text-align: right;
  z-index: 3;
}

.neptune::before {
  background: linear-gradient(90deg, #212354 0%, #3E54E8 18%, #3E66F9 41%, #3E54E8 75%, #212354 97%);
  width: var(--neptune-diameter);
  height: var(--neptune-diameter);
  top: calc(var(--neptune-orbit) * 0.132);
  left: calc(var(--neptune-orbit) * 0.8538 - var(--neptune-diameter) / 2);
  box-shadow: 0 0 0.15rem #3885f7;
}

.neptune:hover::after {
  content: "neptune";
  color: #3885f7;
  margin-top: calc(var(--neptune-orbit)*0.05);
  margin-right: calc(var(--neptune-orbit)*0.05);
}

.pluto {
  transform: rotate(15deg);
  top: calc(var(--pluto-orbit) / -2 - var(--sun-diameter) / -2);
  left: calc(var(--pluto-orbit) / -2 - var(--sun-diameter) / -2);
  width: var(--pluto-orbit);
  height: var(--pluto-orbit);
  border-color: rgb(235, 202, 184, 15%) transparent white white;
  animation: orbit 47s linear infinite;
  text-align: right;
  z-index: 2;
}

.pluto::before {
  background: rgb(235, 202, 184);
  width: var(--pluto-diameter);
  height: var(--pluto-diameter);
  top: calc(var(--pluto-orbit) * 0.14);
  left: calc(var(--pluto-orbit) * 0.8538 - var(--pluto-diameter) / 2);
}

.pluto:hover::after {
  content: "pluto";
  color: rgb(175, 174, 173);
  margin-top: calc(var(--pluto-orbit)*0.05);
  margin-right: calc(var(--pluto-orbit)*0.05);
}

.haumea {
  transform: rotate(65deg);
  top: calc(var(--haumea-orbit) / -2 - var(--sun-diameter) / -2);
  left: calc(var(--haumea-orbit) / -2 - var(--sun-diameter) / -2);
  width: var(--haumea-orbit);
  height: var(--haumea-orbit);
  border-color: rgb(165,145,134, 15%) transparent white white;
  animation: orbit 57s linear infinite;
  text-align: right;
  z-index: 1;
}

.haumea::before {
  background: rgb(175, 174, 173);
  width: var(--haumea-diameter);
  height: var(--haumea-diameter);
  top: calc(var(--haumea-orbit) * 0.14);
  left: calc(var(--haumea-orbit) * 0.8538 - var(--haumea-diameter) / 2);
}

.haumea:hover::after {
  content: "haumea";
  color: rgb(175, 174, 173);
  margin-top: calc(var(--haumea-orbit)*0.05);
  margin-right: calc(var(--haumea-orbit)*0.05);
}

.makemake {
  transform: rotate(115deg);
  top: calc(var(--makemake-orbit) / -2 - var(--sun-diameter) / -2);
  left: calc(var(--makemake-orbit) / -2 - var(--sun-diameter) / -2);
  width: var(--makemake-orbit);
  height: var(--makemake-orbit);
  border-color: rgb(216, 208, 203, 15%) transparent white white;
  animation: orbit 55s linear infinite;
  text-align: right;
  z-index: 0;
}

.makemake::before {
  background: rgb(216, 208, 203);
  background: linear-gradient(90deg, rgba(165,145,134,1) 0%, rgba(216,202,157,1) 18%, rgba(235,243,246,1) 29%, rgba(216,202,157,1) 41%, rgba(201,144,57,1) 54%, rgba(227,220,203,1) 72%, rgba(165,145,134,1) 97%);
  width: var(--makemake-diameter);
  height: var(--makemake-diameter);
  top: calc(var(--makemake-orbit) * 0.14);
  left: calc(var(--makemake-orbit) * 0.8538 - var(--makemake-diameter) / 2);
}

.makemake:hover::after {
  content: "makemake";
  color: rgb(216, 208, 203);
  margin-top: calc(var(--makemake-orbit)*0.05);
  margin-right: calc(var(--makemake-orbit)*0.05);
}

.eris {
  transform: rotate(255deg);
  top: calc(var(--eris-orbit) / -2 - var(--sun-diameter) / -2);
  left: calc(var(--eris-orbit) / -2 - var(--sun-diameter) / -2);
  width: var(--eris-orbit);
  height: var(--eris-orbit);
  border-color: rgb(230, 215, 207, 15%) transparent white white;
  animation: orbit 61s linear infinite;
  text-align: right;
  filter: blur(1px);
  z-index: -1;
}

.eris::before {
  background: rgb(230, 215, 207);
  width: var(--eris-diameter);
  height: var(--eris-diameter);
  top: calc(var(--eris-orbit) * 0.14);
  left: calc(var(--eris-orbit) * 0.8538 - var(--eris-diameter) / 2);
}

.eris:hover::after {
  content: "eris";
  color: rgb(165,145,134);
  margin-top: calc(var(--eris-orbit)*0.05);
  margin-right: calc(var(--eris-orbit)*0.05);
}

.kuiper-belt {
  position: relative;
  top: calc(var(--kuiper-belt-orbit) / -2 - var(--sun-diameter) / -2);
  left: calc(var(--kuiper-belt-orbit) / -2 - var(--sun-diameter) / -2);
  width: var(--kuiper-belt-orbit);
  height: var(--kuiper-belt-orbit);
  box-shadow: 0 0 3rem rgba(83, 66, 66, 0.2) inset, 0 0 3rem rgba(112, 88, 88, 0.2);
  border-radius: 50%;
  z-index: -3 ;
  display: block;
  position: absolute;
}

.small-kuiper-rocks {
  width: 100%;
  height: 100%;
  animation: orbit 70s linear infinite;
  position: absolute;
}

.medium-kuiper-rocks {
  width: 100%;
  height: 100%;
  animation: orbit 120s linear infinite;
  position: absolute;
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 3rem orange;
  }

  33% {
    box-shadow: 0 0 1rem #ff7900;
  }

  67% {
    box-shadow: 0 0 2rem #f4c430;
  }

  100% {
    box-shadow: 0 0 3rem orange;
  }
}

@keyframes pulse-distant {
  0% {
    box-shadow: 0 0 2px white;
  }

  50% {
    box-shadow: 1px 1px 4px white;
  }

  100% {
    box-shadow: 0 0 2px white;
  }
}
